---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      <table width=100%> <tr>
        <td>
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        </td>
        <td valign="middle" align="right">
        <div class="posts-subtitle">
          {{ post.date | date: "%B %e, %Y" }} &nbsp; &nbsp; 
          {% if post.categories %}
             {% for category in post.categories %}
               {{ category | upcase }}
             {% endfor %}
          {% endif %}
        </div>
        </td>
        </tr> </table>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
