---
layout: default
published: true
---

<article class="post">
  <table width=100%> <tr>
     <td>
      <h1> {{ page.title }}</h1>
     </td>
     <td valign="middle" align="right">
     <div class="posts-subtitle">
      {{ page.date | date: "%B %e, %Y" }} &nbsp; &nbsp; 
      {% if page.categories %}
         {% for category in page.categories %}
           {{ category | upcase }}
         {% endfor %}
      {% endif %}
     </div>
     </td>
  </tr> </table>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
</article>




<div id="lbx-modal" class="lbx-modal">

  <!-- The Close Button -->
  <span class="lbx-close" onclick='document.getElementById("lbx-modal").style.display="none";'>&times;</span>

  <!-- Modal Content (The Image) -->
  <img id="lbx-modalImg" class="lbx-modal-content">

  <!-- Modal Caption (Image Text) -->
  <div id="lbx-caption"></div>
</div>

<script>
// Get the singleton modal popup node, popup image node, and caption node
var modal = document.getElementById('lbx-modal');
var modalImg = document.getElementById("lbx-modalImg");
var captionText = document.getElementById("lbx-caption");

// Get the images and, onclick, insert it inside the modal - use its "alt" text as a caption
Array.from(document.getElementsByClassName("lbx-image")).forEach( img => {
  img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt ? this.alt : "";
  }
});
</script>
