---
layout: default
published: true
---

<article class="post">
  <table width=100%> <tr>
     <td>
      <h1> {{ page.title }}</h1>
     </td>
     <td valign="middle" align="right">
     <div class="posts-subtitle">
      {{ page.date | date: "%B %e, %Y" }} &nbsp; &nbsp; 
      {% if page.categories %}
         {% for category in page.categories %}
           {{ category | upcase }}
         {% endfor %}
      {% endif %}
     </div>
     </td>
  </tr> </table>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html %}
</article>
